.text-md-b {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-xl-b {
  color: #000;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-r {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-lg-r {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}